---
layout: default
---

<div class="home">
  <br><br><br>
  <img class="img-circle" src="profile.jpg" alt="John Clema" />
  <h1>John Clema </h1>
  {% include icon-github.html %}
  {% include icon-linkedin.html %}
  {% include icon-twitter.html %}
  {% include icon-stackoverflow.html %}
  {% include icon-google-plus.html %}
  <p>I am a software developer passionate about
  all things iOS and javascript. Care and quality are the two most important
  things in all work I undertake. I will have a blog launching here soon,
  follow me on twitter to get updates.</p>


  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
